


<div class="text-center">
    <div class="p-3 mb-2 bg-dark text-white">What's a CRITIC ?</div>
</div>


<br />
<br />
<p>Top Critic is a designation created to distinguish Tomatometer-approved critics who excel at their craft. Critics selected are well-established, influential, and prolific; they are, in a sense, the cream of the crop. Top Critic status is granted by a set of criteria and a selection panel and cannot be applied for.</p>
<p>Reviews published by Top Critics feature in-depth analysis, supported by a breakdown of formal and thematic elements. Top Critics exhibit a deep knowledge of film/TV history, and their reviews may also provide valuable cultural context. While their reviews incorporate the lens of their own experience, they also exhibit the ability to remove any biases that may prevent them from serving the audience at-large. Overall, reviews from Top Critics are compelling, provide a sense of the viewing experience, exhibit a recognizable voice, and may influence the larger cultural conversation around a film or TV series.</p>
