@{
    ViewData["Title"] = "StartingPage";
    Layout = "newLayout";
}
@*<style>
        body {
            background-image: url('https://res.cloudinary.com/people-matters/image/upload/q_auto,f_auto/v1517845732/1517845731.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>*@

<div class="text-center">

    <h1 style="font-size:60px;">MOVIE RATING</h1>
    <p>Let's Gather all the Reviews....</p>
</div>

<p class="text-primary">Search</p>
<input type="text" name="Search" autocomplete="off" class="form-control input-sm" placeholder="Search movies, TV, actors....">
<br />

<input type="submit" value="Register" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "RegisterUser")'">
<br />
<br />
<input type="submit" value="Log In" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "UserDetails")'">
<br />
<br />
<input type="submit" value="Create Role" class="btn btn-primary" onclick="location.href='@Url.Action("CreateingRole", "Administration")'">
<br />
<br />
<input type="submit" value="List Role" class="btn btn-primary" onclick="location.href='@Url.Action("ListRoles", "Administration")'">


