@{
    ViewData["Title"] = "Privacy Policy";
}

}
<div class="text-center">
    <div class="p-3 mb-2 bg-dark text-white">PRIVACY POLICY</div>
</div>

<p>Use this page to detail your site's privacy policy.</p>
