

<div class="text-center">
    <div class="p-3 mb-2 bg-dark text-white">MOVIE TRAILERS</div>
</div>
<div class="text-center">

    <br />
    <br />
    <div>
        <a class="p-3 mb-2 bg-info text-white" href="https://www.youtube.com/watch?v=VyHV0BRtdxo" target="_blank">Harry Potter</a>
    </div>
    <br />
    <br />
    <div>
        <a class="p-3 mb-2 bg-info text-white" href="https://www.youtube.com/watch?v=KzJNYYkkhzc" target="_blank">Now You See Me</a>
    </div>
    <br />
    <br />
    <div>
        <a class="p-3 mb-2 bg-info text-white" href="https://www.youtube.com/watch?v=ej3ioOneTy8" target="_blank">The Martian</a>
    </div>
    <br />
    <br />
    <div>
        <a class="p-3 mb-2 bg-info text-white" href="https://www.youtube.com/watch?v=AntcyqJ6brc" target="_blank">The Transformers</a>
    </div>


</div>